* {
    box-sizing: border-box;
    /* The width and height of the element apply to all parts of the element: the content, the padding and the borders. */
}

body,
h1,
p {
    margin: 0;
    /* Resets the externes margins of the body and h1 elements  */
}

body {
    background-color: #c2c2c2;
    /* Defines the background color */
    line-height: 1.5;
    /* Change line heigth of all elements in body */
    font-family: Verdana;
    /* Change font of all elements in body */

}

/* -----------------*/
/* NAVigation menu */
/* ---------------*/
nav {
    background-color: #f76c6c;
    /* Defines the background color */
    color: #ffffff;
    /* Defines the font color for all element in nav */
    padding: 1rem 0rem 0.1rem 1rem;
    /* Defines a internes margin TOP/RIGHT/BOTTOM/LEFT*/
    font-size: 1.5rem;
    /* Defines size of the font */
}

/* Unordered list in nav */

nav ul {
    padding: 0;
    /* Defines internes margin */
    margin: 0.3rem 0rem;
    /* Defines external margin Vertical / Horizontal */
}

/* list item in nav */
nav li {

    list-style-type: none;
    /* removes the bullet from the list items */
    display: inline-block;
    /* Allows li to be displayed on the same line */

}

/* -----------------*/
/*      HEADER     */
/* ---------------*/

header {
    min-height: 350px;
    /* Defines a minimun height for the header */
    background-image: url(https://loremflickr.com/cache/resized/65535_51720087764_d11176e0a1_k_1200_300_nofilter.jpg);
    /* Add background in the header */
    background-repeat: no-repeat;
    /* The background image will only appear once.*/
    background-size: cover;
    /* resize the background image to make sure the element takes up all the space. */
}

/* Titre h1 in header */
header h1 {
    color: #ffffff;
    /* Change the font color of h1 in header */
    text-align: center;
    /* Aligns the h1 verticaly */
    padding-top: 6rem;
    /* Add a internal marge at the top of h1 in header*/
    font-size: 3rem;
    /* Change the font size of h1 in header */
}


/*---------------*/
/* ALL SECTIONS */
/*-------------*/
section {
    max-width: 75ch;
    /* Sets the maximal width of all sections according to the number of caractere */
    margin: 2.5rem auto;
    /* Centres horizontaly and adds external margin-top and margin-bottom of all sections  */
    text-align: justify;
    /* Justify the texts of all sections */
}

/*-----------------------------*/
/* SECTION2 : Featured posts  */
/*---------------------------*/

/* Element with featured class */
.featured {
    display: grid;
    /*.featured is turned into an grid container. Its child element will be tured into grid items*/
    grid-template-columns: repeat(2, 1fr);
    /* Generate 2 grid columns with the same dimensions */
    grid-template-rows: repeat(3, 6rem);
    /* Generate 2 grid rows with the same dimensions */
    grid-column-gap: 25px;
    /* Defines espace between columns */
    grid-row-gap: 20px;
    /* Defines espace between rows */
}

/* h2 contained in .featured */
.featured h2 {
    grid-area: 1 / 1 / 2 / 3;
    /* Defines row start /column start / row end / column end of a grid item*/
}

/* All article contained in .featured */

.featured article {
    box-shadow: 0.1rem 0.2rem 0.2rem 0.3rem #7d7d7d;
    /* Defines the shadow of the element TOP RIGHT BOTTOM LEFT COLOR*/
    border-radius: 8px;
    /* Defines the raduis of the element's corners*/
    line-height: 6rem;
    /* Defines line height of the all article with .featured */
    padding-left: 1rem;
    /* Defines internal marges */
    font-weight: bold;
    /* Text becomes bold */
    font-size: 1.3rem;
    /* Defines size of font article */
}

/* Second element contained in .featured */
.featured :nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    /* Defines row start /column start / row end / column end of a grid item*/
}

/* Third element contained in .featured */

.featured :nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    /* Defines row start /column start / row end / column end of a grid item*/
}

/* Fourth element contained in .featured */

.featured :nth-child(4) {
    grid-area: 3 / 1 / 4 / 2;
    /* Defines row start /column start / row end / column end of a grid item*/
}

/* Fifth element contained in .featured */

.featured :nth-child(5) {
    grid-area: 3 / 2 / 4 / 3;
    /* Defines row start /column start / row end / column end of a grid item*/
}

/*---------*/
/* FOOTER */
/*-------*/

footer {
    background-color: #f76c6c;
    /* Defines the background color */
    line-height: 3.5rem;
    /* Change line heigth of all elements in body */

}

/* paragraph in footer */
footer p {
    margin-left: 10px;
    /* Adds external margin-left on paragraph in footer */
}